.App {
  background-color: blue;
  background-image: url("./images/bg-desktop.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: bottom ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  /* width: 800px; */
}


