@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    url("../public/Fonts/Raleway-Italic-VariableFont_wght.ttf") ,
   
}


:root {
  --font-raleway:"Raleway"sans-serif ;
  --bg-kal: brown;
  /* --aboba: rgb(222, 16, 50); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
